<!-- Esto es un comentario de prueba-->
<ul class="nav navbar-nav navbar-right">
    <a href="/my-profile" class="btn btn-primary">Profile</a>
    <a href="/my-table" class="btn btn-primary">Return to My Table</a>
    <a href="/" class="btn btn-danger">Log Out</a>
</ul>
<br/>
<br/>
<div>
    <h1>Leagues</h1>
    <table class="table table-hover">
        <tr>
            <td> </td>
            <td>Liga</td>
            <td>Proximo partido</td>
            <td>Proximos Encuentros</td>
            <td>Aciertos</td>
            <td>Puntos</td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>01</td>
            <td>Italiana</td>
            <td>24/08/2014</td>
            <td>Milan Vs. Jueventus</td>
            <td>2</td>
            <td>3</td>
            <td class ="">Ver Calendario</td>
            <td class="btn btn-primary" align="center" onclick="EditLeague()"> Edit</td>
            <td class="danger">Disable League</td>
        </tr>
        <tr ng-repeat=" liga in misligas">
            <td>{{liga.id}}</td>
            <td>{{liga.nombre}}</td>
            <td>{{liga.proximo_Fecha}}</td>
            <td>{{liga.proximo_Encuentro}}</td>
            <td>{{liga.aciertos}}</td>
            <td>{{liga.puntos}}</td>
            <td>Ver Calendario</td>
            <td class="danger">Disable League</td>
        </tr>
    </table>
    <form ng-submit="AddLiga()">
        <button class="btn btn-success" type="submit" style="float: right;" ng-disabled="ShowMessage" disabled>Add League</button>
    </form>
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-show="ShowMessage">
        <h3>Add New League</h3>
        <input ng-model="id" type="text" class="form-control" placeholder="ID" required autofocus />
        <input ng-model="league" type="text" class="form-control" placeholder="League Name" required autofocus />
        <input ng-model="nextmatch" type="text" class="form-control" placeholder="Next Match" required autofocus />
        <input ng-model="hits" type="text" class="form-control" placeholder="Hits" required autofocus />
        <input ng-model="points" type="text" class="form-control" placeholder="Points" required autofocus />
        <form ng-submit="pushLeague(id, league, nextmatch, hits, points)">
            <button class="btn btn-success" type="submit" ng-disabled="!(id && league && nextmatch && hits && points)"> Done</button>
        </form>
        <form ng-submit="AddLiga()">
            <button class="btn btn-danger" type="submit"> Cancel</button>
        </form>
    </div>
    <form ng-submit="EditLeague()">
        <button class="btn btn-success" type="submit" style="float: right;" ng-disabled="ShowEdit" disabled>Edit League</button>
    </form>
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-show="ShowEdit">
        <h3>Edit League</h3>
        <input ng-model="id" type="text" class="form-control" placeholder="ID" required autofocus />
        <input ng-model="league" type="text" class="form-control" placeholder="League Name" required autofocus />
        <input ng-model="nextmatch" type="text" class="form-control" placeholder="Next Match" required autofocus />
        <form ng-submit="pushLeague(id, league, nextmatch, hits, points)">
            <button class="btn btn-success" type="submit" ng-disabled="!(id && league && nextmatch && hits && points)"> Done</button>
        </form>
        <form ng-submit="EditLeague()">
            <button class="btn btn-danger" type="submit"> Cancel</button>
        </form>
    </div>
    <div>
        <h1>Teams</h1>
        <table class="table table-hover">
            <tr>
                <td> </td>
                <td>Liga</td>
                <td>Proximo partido</td>
                <td>Proximos Encuentros</td>
                <td>Aciertos</td>
                <td>Puntos</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>01</td>
                <td>Milan</td>
                <td>24/08/2014</td>
                <td>Milan vs. Juventus</td>
                <td>Ver Calendario</td>
                <td class="danger">Omitir</td>
            </tr>
        </table>
    </div>

</div>

<!-- liga id,
     nombre league,
     proximo_fecha new date(),
     proximo_encuentro nextmatch,
     aciertos hits,
     puntos points,
     activo true> 
-->