<div class="row">
    <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-submit="RecoverPassword()">
        <h2 class="text-center">Recover Password</h2>
        <div class="alert alert-success" role="alert" ng-show="ShowMessage">Relax now, we sent you an email with instructions</div>
        <div class="form-box">
            <div class="form-group">
                <input ng-model="userName" type="text" class="form-control" placeholder="Username or Email" required autofocus />
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Recover Password</button>
                <a href="/login" class="btn btn-primary btn-block"> Go to Login </a>
            </div>
        </div>
    </form>
</div>
