<div class="container">
    <div class="row">
        <div role="main" class="container theme-showcase">
            <ul class="nav navbar-nav navbar-right">
                <a href="/my-profile" class="btn btn-primary">Profile</a>
                <a href="/my-table" class="btn btn-primary">Return to My Table</a>
                <a href="/" class="btn btn-danger">Log Out</a>
            </ul>
        </div>
    </div>
    <div>
        <table class="table">
            <tr>
                <td> </td>
                <td>Liga</td>
                <td>Proximo partido</td>
                <td>Proximos Encuentros</td>
                <td>Aciertos</td>
                <td>Puntos</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>01 </td>
                <td>Italiana</td>
                <td>24/08/2014</td>
                <td>Milan vs. Inter</td>
                <td>8</td>
                <td>16</td>
                <td> </td>
                <td class="btn-success"><a class="btn-link " href="/predict-a-goal">Predict-A-Goal</a></td>
                <td class="btn-primary"> Calendario</td>
            </tr>
        </table>
    </div>
</div>