<div class="container">
    <div class="row">
        <div role="main" class="container theme-showcase">
            <ul class="nav navbar-nav navbar-right">
                <a href="/my-profile" class="btn btn-primary">Profile</a>
                <a href="/admin-settings" class="btn btn-primary">Admin Settings</a>
                <a href="/" class="btn btn-danger">Log Out</a>
            </ul>
        </div>
        <div class="col-sm-4 col-md-4 user-details">
            <div class="user-image">
                <h3>
                    <img class="pic img-circle" src="http://www.therpf.com/uploads/avatars/avatar44216_4.gif" alt="...">       Wade Wilson
                </h3>
            </div>
        </div>
    </div>
    <div>
        <h1>My Table</h1>
        <table class="table table-hover">
            <tr>
                <td> </td> 
                <td>Liga</td>
                <td>Proximo partido</td>
                <td>Proximos Encuentros</td>
                <td>Aciertos</td>
                <td>Puntos</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr ng-repeat=" liga in misligas">
                <td>{{liga.id}}</td>
                <td>{{liga.nombre}}</td>
                <td>{{liga.proximo_Fecha}}</td>
                <td>{{liga.proximo_Encuentro}}</td>
                <td>{{liga.aciertos}}</td>
                <td>{{liga.puntos}}</td>
                <td class="btn-success"><a class="btn-link " href="/predict-a-goal">Predict-A-Goal</a></td>
                <td>Ver Calendario</td>
                <td class="danger">Disable League</td>
            </tr>
        </table>
        
        <h1>Recomended Leagues</h1>
        
        <table class="table table-hover">
            <tr>
                <td> </td>
                <td>Liga</td>
                <td>Proximo partido</td>
                <td>Proximos Encuentros</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>

            <tr>
            <tr ng-repeat=" liga in NotFollowing">
                <td>{{liga.id}}</td>
                <td>{{liga.nombre}}</td>
                <td>{{liga.proximo_Fecha}}</td>
                <td>{{liga.proximo_Encuentro}}</td>
                <td class="">Ver Calendario</td>
                <td class="btn btn-primary" align="center" onclick="EditLeague()"> Edit</td>
                <td class="danger">Disable League</td>
            </tr>
        </table>
</div>
</div>