<div>
    <table>
        <tr>
            <td>Day </td>
            <td> </td>
            <td>Date </td>
            <td> </td>
            <td>Time </td>
            <td> </td>
            <td>Stadium </td>
            <td> </td>
            

        </tr> 
    </table>
</div>